{% extends 'layouts/base.html.twig' %}
{% block title 'test' %}
{% block body %}

    <p>Id Adhésion :</p>
    <p>Id Adhérent :{{ adherent.id }}</p>

    {# {% for adhesion in adhesion %}

    {% endfor %} #}
{% endblock %}