{% extends 'layouts/base.html.twig' %}

{% block title 'Aide Cavaillonnaise Aux Animaux'  %}

{% block body %}
    <h1>Aide Cavaillonnaise Aux Animaux</h1>
    <h2>Bienvenue</h2>
    <p> 
        Notre association œuvre pour le bien être des animaux : stériliser, soigner, nourrir et contrôler les populations félines. 
        Nous avons construit un réseau efficace pour les adoptions, luttons contre les maltraitances animales, sensibilisons adultes et enfants à la cause animale. 
    </p>
{% endblock %}
