{% extends 'layouts/base.html.twig' %}

{% block title 'Aide Cavaillonnaise Aux Animaux'  %}

{% block body %}
    <header class="py-5 bg-image-full position-relative" style="background-image: url({{ asset('images/chat-profil.jpg') }}); height:435px; background-position: 50% 45%;">
        <div class="text-center my-5 position-absolute top-50 start-50 translate-middle text-white">
            <h1 class="mt-5">Aide Cavaillonnaise Aux Animaux</h1>
            <h2 class="mt-3 mb-5">Bienvenue</h2>
        </div>
    </header>

    <section>
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <p class="py-5 text-center lead"> 
                        Notre association œuvre pour le bien être des animaux : stériliser, soigner, nourrir et contrôler les populations félines. 
                    </p>
                    <p class="text-center lead">
                        Nous avons construit un réseau efficace pour les adoptions, luttons contre les maltraitances animales, sensibilisons adultes et enfants à la cause animale. 
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="py-5 bg-image-full position-relative" style="background-image: url({{ asset('images/chat-eau.jpg') }}); height:435px; background-position: 50% 40%;">
        <div class="text-center my-5 position-absolute top-50 start-50 translate-middle text-white">
            <h1 class="mt-5">Pour nous contacter</h1>
            <h2 class="mt-3 mb-5 h1">↓</h2>
        </div>
    </div>

    <section>
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <p class="py-5 text-center lead"> 
                        Adresse / Formulaire de contact ?
                    </p>
                    <p class="text-center lead">
                        Liens pages facebook etc... 
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
