<footer class="footer mt-auto py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-muted">
      &copy; {{ 'now'|date('Y') }} &middot;
      Build with <span class="text-danger">&hearts;</span> by <a class="text-white"href="https://github.com/GaelleBriet">Yuki</a>
    </p>
  </div>
</footer>