{% extends 'layouts/base.html.twig' %}

{% block title 'Editer un adhérent' %}

{% block body %}
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 mx-auto">

        <h1 class="text-center">Édition de l'adhérent numéro {{adherents.id}}</h1>

        {{ include('adherents/_form.html.twig', {submitButtonText: 'Modifier l\'adhérent'}) }}

      </div>
    </div>
  </div>
{% endblock %}