@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import "~bootstrap/scss/bootstrap";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.alert {
  padding: 10px;
  color: white;
  text-align: center;
  margin: 0;
  border: none;
  border-radius: 0;

  &.alert-success {
    background-color: green;
  }

  &.alert-error {
    background-color: red;
  }

  &.alert-info {
    background-color: blue;
  }
}

nav {
  div .container-image {
    background-image: url(../../public/images/patte.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    width: 50px;
    // width: 300px;
    // height: 40px;
  }
}

.bg-image-full {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

body {
  a {
    text-decoration: none;
    color: darkslategray;
  }
}
