@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import "~bootstrap/scss/bootstrap";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.alert {
  padding: 10px;
  color: white;
  text-align: center;
  margin: 0;
  border: none;
  border-radius: 0;

  &.alert-success {
    background-color: green;
  }

  &.alert-error {
    background-color: red;
  }

  &.alert-info {
    background-color: blue;
  }
}
